@model Test1.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}


<div class="bodyLoginReg">
    <div class="LogRegPage" id="LoginAutoWidth">
        <div class="LogImage"></div>

        <div class="FormRegisterLogin">
            <form asp-action="Register">
                <h1>Регистрация</h1>
                <input asp-for="Name" class="form-control" placeholder="Логин" />
                <input asp-for="Email" class="form-control"  placeholder="Почта"/>
                <input asp-for="Password" class="form-control" placeholder="Пароль"/>
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Подтвердить пароль"/>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <button value="Create" type="submit">Войти</button>
            </form>
            <div class="loginWith">
                <form method="post" asp-action="GoogleLogin">
                    <button type="submit" name="Google" value="Google"><i class="ri-google-fill"></i></button>
                </form>
                <form method="post" asp-action="FacebookLogin">
                    <button type="submit" name="Facebook" value="Facebook"><i class="ri-facebook-fill"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
