@model Test1.ViewModels.EditPasswordViewModel

@{
    ViewData["Title"] = "Изменить пароль";
     Layout = "_Layout";
}

<div class="bodyLoginReg">
    <div class="LogRegPage" id="LoginAutoWidth">
        <div class="LogImage"></div>

        <div class="FormRegisterLogin">
            <form asp-action="ChangePassword">
                <input asp-for="Id" value = "@Model.Id" type = "hidden" class="form-control" />
                <input asp-for="Name" value = "@Model.Name" type = "hidden" class="form-control" />
                <h1>Изменить пароль @Model.Name</h1>
                <input asp-for="OldPassword" placeholder = "Старый пароль" class="form-control" />
                <input asp-for="NewPassword" placeholder = "Новый пароль" class="form-control" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <button value="Сохранить" type="submit">Сменить</button>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
