@model IEnumerable<Test1.Models.Mythology>
@{
    ViewData["Title"] = "Приветственная";
}

<div class="HeaderPage" id="blockWithAutoWidth">
    <div class="MainInfo" id="blockWithAutoWidthOrientation">
        <h1>Бестиарий</h1>
        <p>
            средневековый литературный жанр, каталогизированное описание внешнего вида и повадок некоторых животных.
            Каждый рассказ сопровождается аллегорическим истолкованием - религиозной или моральной максимой, которую можно
            извлечь из повадок либо облика того или иного зверя. Средневековые бестиарии, писавшиеся как на латинском языке,
            так и на местных языках тогдашней Европы, возможно, восходят к греческому сочинению Физиолог (первые несохранившиеся
            редакции - ок. 2 в., первые сохранившиеся - 5-6 вв.). В Англии элементы этого жанра появляются очень рано - так, в
            Эксетерском кодексе, древнеанглийской рукописной книге 11 в., имеются рассказы Кит, Пантера и Куропатка.
            Однако в полном виде сохранился только один бестиарий на среднеанглийском языке, датируемый 13 в.
            Он представляет собой перевод (с изменением порядка глав) с латинского Физиолога Теобальда (11 в.).
            Отдельные рассказы, написанные в традиции бестиариев, встречаются во многих среднеанглийских рукописях.
        </p>
    </div>
</div>
<div class="Categories">
    <h1>Мифология:</h1>

    <div class="CategoriesBlock">
        @foreach (var item in Model)
        {
            <a asp-action = "Main" asp-route-Filters = "@item.Name" class="Block" style='background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("@item.PhotoUrl")'>
                <h1>@item.Name</h1>
            </a>
        }
    </div>


    <a asp-action = "Categories" asp-controller = "Home" class="buttonKnowMore">
        <h3>Узнать больше</h3>
    </a>
</div>