<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Register</title>
</head>

<body>
    <nav id="navbar">
        <div class="hamburger" onclick="toggleSidebar()">
            <i class="ri-menu-line"></i>
        </div>
        <img src="./img/svg-editor-image_.png" alt="icon">
        <div class="dropdown">
            <img onclick="myFunction()" class="dropbtn" src="./img/147144.png" alt="">
            <div id="myDropdown" class="dropdown-content">
                <a href="#"><i class="ri-user-line"></i> Профиль</a>
                <a href="#"><i class="ri-list-settings-line"></i> Настройки</a>
                <a href="#"><i class="ri-bookmark-line"></i> Закладки</a>
                <a href="#"><i class="ri-heart-line"></i> Лайки</a>
                <a href="#"><i class="ri-logout-box-r-line"></i> Выйти</a>
            </div>
        </div>
    </nav>
    <div class="backdrop" onclick="toggleSidebar()"></div>
    <div class="sidebar">
        <div class="sidebar-search">


            <form class="search-form">
                <label for="search" class="screen-reader-text">Поиск</label>
                <input id="search" type="search" class="search-input" placeholder="Введите, что желаете найти">
                <button class="search-button"><i class="ri-search-line"></i></button>
            </form>


        </div>
        <div class="sidebar-list">
            <li class="sidebar-item">
                <a href="#"><i class="ri-home-2-line"></i>Домашняя</a>
            </li>
            <li class="sidebar-item">
                <a href="#"><i class="ri-function-line"></i>Категории</a>
            </li>
            <li class="sidebar-item">
                <a href="#"><i class="ri-align-left"></i></i>Перечень</a>
            </li>
            <li class="sidebar-item">
                <a href="#"><i class="ri-book-line"></i>Библиоека</a>
            </li>
        </div>
    </div>

    <div class="Body">
        <div class="bodyLoginReg">
            <div class="LogRegPage" id = "LoginAutoWidth">
                <div class="LogImage"></div>
    
                <form class="FormRegisterLogin" action="">
                        <h1>Регистрация</h1>
                        <input type="text" name="login" placeholder="Логин">
                        <input type="text" name="email" placeholder="e-mail">
                        <input type="password" name="password" placeholder="Пароль">
                        <input type="password" name="repeatpassword" placeholder="Подтвердить пароль">
                        <button type="submit">Зарегестрироваться</button>
                        <div class="loginWith">
                            <div>
                                <i class="ri-google-fill"></i>
                            </div>
                            <div>
                                <i class="ri-facebook-circle-fill"></i>
                            </div>
                            <div>
                                <i class="ri-twitter-fill"></i>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>


    <footer>
        <div class="footer-container">
            <img src="./img/svg-editor-image_.png" alt="" class="logo">
            <div class="social-media">
                <a href="#"><i class="ri-facebook-circle-fill"></i></a>
                <a href="#"><i class="ri-twitter-fill"></i></a>
                <a href="#"><i class="ri-instagram-fill"></i></a>
                <a href="#"><i class="ri-youtube-fill"></i></a>
            </div>
            <p class="rights-text">© 2022 Created me</p>
        </div>
    </footer>

    <script src="./js/script.js">
    </script>
</body>

</html>